{% extends 'base.html' %}
{% block nav %}
<li class="nav-item active">
  <a class="nav-link" href="/games/{{game.id}}/stocks">Stocks<span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-3">
        GAME LEL
        <ul class="list-group">
            {% for player in game.players %}
            <li class="list-group-item">
                {{player.user.displayname}} 
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}