{% extends "base.j2" %}
{% block title %}Question{%endblock%}


{% block body %}
    <div class="container-fluid m2">
        <form id="form-question">
            <div class="question-group pb-2">
                <div class="question">{{question.question}}</div>
                {% for choice in question.choices %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{question.question}}" id="{{choice}}">
                        <label class="form-check-label" for="{{choice}}"  value="{{choice}}">{{choice}}</label>
                    </div>
                {% endfor %}
            </div>
        <button class="btn btn-primary" type="submit" action="answer" method="post">Done</button>
        </form>
        
    </div>
{% endblock%}


{%block scripts %}
{%endblock%}